{{define "admin/goods/goodsList.html"}}

<body>
    {{template "admin/public/publicImoport.html" .}}
    <div class="col-sm-10">
        <!--
    列表展示
-->
        <div class="table-responsive">
            <button><a href="/admin/goodsAdd">商品添加</a></button>
            <table class="table table-bordered">
                <thead>
                    <tr class="th">
                        <th>商品名称</th>
                        <th>商品类型</th>
                        <th>商品编号</th>
                        <th>商品排序</th>
                        <th>商品增加时间</th>
                        <th>商品状态</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .goods}}
                    <tr>
                        <td>{{.Title}}</td>
                        <td>{{.CateId}}</td>
                        <td>{{.GoodsSn}}</td>
                        <td>{{.Sort}}</td>
                        <td>{{Unix2Time .AddTime}}</td>
                        <td>
                            {{if eq .Status 1}}
                            <button><img src="/static/images/yes.gif" alt="status OK" class="changeStatusButton"
                                    data-id="{{.Id}}" data-table_name="goods" data-status_value="{{.Status}}"></button>
                            {{else}}
                            <button><img src="/static/images/no.gif" alt="status NO" class="changeStatusButton"
                                    data-id="{{.Id}}" data-table_name="goods" data-status_value="{{.Status}}"></button>
                            {{end}}
                        </td>
                        <td class="text-center">
                            <a href="/admin/goodsEdit?goodsId={{.Id}}&pageNumber={{$.pagination.CurrentPage}}">
                                修改</a>
                            <a class="deleteConfirm" title="{{.Title}}" href="/admin/goodsDelete?goodsId={{.Id}}">删除</a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            <div class="pagination" id="pagination"></div>
        </div>
    </div>
    <script src="/static/js/jq-paginator.js"></script>

    <script>
        $('#pagination').jqPaginator({
            totalPages: {{.pagination.TotalPages }},
            visiblePages: {{.pagination.VisiblePages }},
            currentPage: {{.pagination.CurrentPage }},
            onPageChange: function (num, type) {
                if (type != 'init') {
                    location.href = "/admin/goodsList?pageNumber=" + num;
                }
            },
    })
    </script>
</body>


{{end}}