{{define "shop/public/publicHeader.html"}}
<link rel="stylesheet" href="/static/shop/css/checkout.css" />
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/shop/css/style.css">
<link rel="stylesheet" href="/static/shop/css/swiper.min.css">
<script src="/static/shop/js/jquery-1.10.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<!-- start header -->
<header>
    <div class="top center">
        <div class="left fl">
            <ul>
                {{range $k,$v:= .topNav}}
                <li><a href="{{.Link}}">{{.Title}}</a></li>
                {{if ne $k $.topNavLen}}
                <li>|</li>
                {{end}}
                {{end}}
            </ul>
        </div>
        <div class="right fr">
            <div class="gouwuche fr"><a href="/cart">购物车</a></div>
            <div class="fr">
                {{if .isLogin}}
                <ul>
                    <li><a href="/usercenter?userid={{.user.Id}}">{{.user.UserName}},您好</a></li>
                </ul>
                {{else}}
                <ul>
                    <li><a href="login.html" target="_blank">登录</a></li>
                    <li>|</li>
                    <li><a href="register.html" target="_blank">注册</a></li>
                </ul>
                {{end}}

            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</header>
<!--end header -->
{{end}}